header{
    width: 100%;
}

header nav{
    width: 100%;

    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
}
header nav ul li{
    margin-left: 40px;
}
header nav ul li a{
    font-size: 18px;
    font-weight: 500;
}